/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
.github
*.md
tests
